body{
    width: 70%;
    background-color: #203465;
    margin-left: auto;
    margin-right: auto;
    color: #be9d7c;
    font-family: Helvetica, Arial, Georgia, Tahoma, "Roboto Light", sans-serif;
    font-size: 0.85rem;
    /* REMOVE MARGIN-TOP WHEN ADDING NEW LOGO */ 
    margin-top: 10em;
}

/*HEADER*/
header{
    color: #be9d7c;
    text-align: center;
}

header img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

header nav{
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px dotted #be9d7c;
}

header nav ul{
    padding: 1rem 1.5rem;
}

header nav ul li{
    
    display: flex;
    flex-direction: column;
    color: black;
    margin-bottom: 1em;
    width: 100%;
}

header nav ul li:nth-child(1), header nav ul li:nth-child(2){
    margin-right: 5%;
}

header nav ul li a{
    text-decoration: none;
    background-color: #be9d7c;
    color: black;
    padding: 1rem;
    font-size: 1.15em;

}

/*MAIN*/
main{
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px dotted #be9d7c;
}
main h1{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

main p{
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

main a{
    color: #be9d7c;
}

/*FOOTER*/
footer{
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: 1rem;

}

footer h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
}

footer p{
    font-size: 0.8rem;
}

footer a{
    color: #be9d7c;
}

@media (min-width:650px) {
    body{
        width: 70%;
        font-size: 0.85em;    
    }

    header img{
        width: 35%;
    }
    
    header nav ul li{
        font-size: 0.90em;
        display: inline-block;
        margin-bottom: 0;
        width: auto;
    }
}
